.logo {
    width: 82px;
    height: 52px;
    @include flex;
    border: 1px solid $white;
    border-radius: 2px;
    margin-right: 63px;
    position: relative;

    &__title {
        text-align: center;
        font-size: 19px !important;
        font-weight: normal !important;
        margin: 0 !important;
    }

    &__image {
        position: absolute;
        bottom: 5px;
        left: 10px;
    }
}
