.container {
    width: $container-width;
    @include responsive(sm-desktop) {
        width: 940px;
    }
    @include responsive(tab) {
        width: 600px;
    }
    @include responsive(phone) {
        width: 298px;
    }
    @include responsive(319) {
        width: 93%;
    }
    margin: 0 auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.hidden {
    display: none;
}
