// colors:
$color-primary: #333b41;
$color-secondary: #f9804b;
$yellow: #ffee2e;
$green: #4b9200;
$white: #ffffff;
$black: #000000;

$dark-orange: #e47209;

//sizes:
$container-width: 1160px;

//fonts:
$roboto: "Roboto", sans-serif;
