// colors:
$color-primary: #333b41;
$color-secondary: #f9804b;
$color-border: #fe9013;

$yellow: #ffee2e;
$green: #4b9200;
$gray: #767474;
$white: #ffffff;
$black: #000000;

$light-gray: #f1f3f2;
$smoke-gray: #bdbdbd;
$dark-orange: #e47209;

//sizes:
$container-width: 1160px;
$gap: 30px;

//fonts:
$roboto: "Roboto", sans-serif;
