// colors:
$color-primary: #333b41;
$color-secondary: #f9804b;
$color-border: #fe9013;
$footer-background: #111115;

$yellow: #ffee2e;
$green: #4b9200;
$gray: #767474;
$gray-secondary: #929699;
$white: #ffffff;
$black: #000000;
$black-blue: #333b41;
$secondary-black-blue: #404950;
$light-gray: #f1f3f2;
$smoke-gray: #bdbdbd;
$dark-orange: #e47209;

//sizes:
$container-width: 1160px;
$gap: 30px;

//fonts:
$roboto: "Roboto", sans-serif;
