.footer {
    background-color: $footer-background;
    color: $white;
    padding: {
        top: 40px;
        bottom: 50px;
    }

    &__top {
        margin-bottom: 44px;
        @include flex(flex-start, space-between);
    }

    &__bottom {
        @include flex(flex-end, flex-start);
    }

    .logo {
        margin-bottom: 68px;
    }

    .social-list {
        margin-right: 289px;
        @include responsive(sm-desktop) {
            margin-right: 180px;
        }
    }

    .subscription {
        margin-right: 33px;
    }

    nav {
        font-weight: normal;
    }

    .author {
        font-weight: 100;
        margin-left: 160px;
        @include responsive(sm-desktop) {
            margin-left: 85px;
        }
    }

    .designer {
        margin-bottom: 10px;
    }

    h3 {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 14px;
    }

    form {
        @include flex;
    }

    input[type="email"] {
        width: 228px;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid $color-secondary;
        border-radius: 2px;
        color: $white;
        font-size: 16px;
        outline: none;
    }

    input[type="email"]:focus {
        border: 1px solid $green;
    }

    input[type="email"]:focus + button {
        color: $green;
        border: 1px solid $green;
    }

    input[type="email"]::placeholder {
        color: $smoke-gray;
    }
}
