.header {
    @include responsive(tab) {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;
    }
    background-color: $black;
    color: $white;
    font-weight: 500;
    .container {
        @include flex;
        padding: 14px 0;
        @include responsive(tab) {
            @include flex(center, space-between);
            padding: 2px 0;
        }
    }

    &__copyright {
        margin-left: auto;
        @include responsive(tab) {
            display: none;
        }
    }

    &__copyright:hover {
        color: $color-secondary;
    }

    .bamboo {
        position: absolute;
        bottom: 5px;
        left: 10px;
    }
}
