.header {
    background-color: $black;
    color: $white;
    font-weight: 500;
    .container {
        display: flex;
        align-items: center;
        padding: 14px 0;
    }

    &__logo-link {
        width: 82px;
        height: 52px;
        display: flex;
        align-items: center;
        border: 1px solid $white;
        border-radius: 2px;
        margin-right: 63px;
    }

    &__logo-name {
        text-align: center;
    }

    &__copyright {
        margin-left: auto;
    }
}
