.nav {
    &__list {
        @include flex;
    }
    &__item:not(:last-child) {
        margin-right: 58px;
        @include responsive(sm-desktop) {
            margin-right: 48px;
        }
    }

    &__link:hover {
        color: $color-secondary;
    }

    .active {
        color: $color-secondary;
    }
}

.header .nav {
    @include responsive(tab) {
        display: none;
    }
}

.footer .nav {
    &__item:not(:last-child) {
        @include responsive(tab) {
            margin-right: 40px;
        }
        @include responsive(phone) {
            margin-right: 30px;
        }
        @include responsive(319) {
            margin: 0 0 20px;
        }
    }

    &__list {
        @include responsive(319) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
