.nav {
    &__list {
        @include flex;
    }
    &__item:not(:last-child) {
        margin-right: 58px;
    }

    &__link:hover {
        color: $color-secondary;
    }

    .active {
        color: $color-secondary;
    }
}
