.hero {
    color: $white;
    text-transform: uppercase;
    background: {
        image: url("../../assets/images/banner.png");
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    padding: {
        top: 86px;
        bottom: 100px;
    }

    .container {
        @include flex(center, flex-end);
    }

    &__box {
        text-align: center;
        width: 500px;
    }

    &__title {
        position: relative;
        font-size: 106px;
        line-height: 75%;
        margin-bottom: 60px;
        z-index: 1;
    }

    .circle {
        display: inline-block;
        width: 465px;
        height: 465px;
        background-color: $color-secondary;
        border-radius: 50%;
        position: absolute;
        left: -73px;
        bottom: 10px;
        z-index: -1;
    }

    .yellow {
        color: $yellow;
    }

    .btn {
        margin: 0 auto;
    }
}

.backstage {
    padding-top: 140px;
    position: relative;
    .container {
        @include flex(center, space-between);
    }

    &__pattern {
        position: absolute;
        bottom: -90px;
        right: 0px;
    }

    &__text-box {
        width: 465px;

        h2 {
            font-weight: normal;
            font-size: 48px;
            line-height: 58px;
            margin-bottom: 20px;
        }

        h3 {
            font-weight: normal;
            font-size: 24px;
            margin: 54px 0 34px;
        }

        p {
            line-height: 20px;
        }
    }
}
