html {
  scroll-behavior: smooth;
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

button {
  border: none;
  cursor: pointer; }

input {
  border: none;
  background-color: transparent; }

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Black.woff2") format("woff2"), url("../../assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.woff2") format("woff2"), url("../../assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Thin.woff2") format("woff2"), url("../../assets/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Light.woff2") format("woff2"), url("../../assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

body {
  color: #333b41;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  width: 1160px;
  margin: 0 auto; }

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.btn, .btn:link, .btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  color: #ffffff;
  width: 298px;
  height: 54px; }

.btn:hover {
  background-image: none;
  background-color: #e47209; }

.btn:active {
  background-image: none;
  background-color: #4b9200; }

.btn_pill {
  border-radius: 25px; }

.btn_rounded {
  border-radius: 5px; }

.slide-btn {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  font-size: 20px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  color: #ffffff;
  position: absolute; }
  .slide-btn:hover {
    background-image: none;
    background-color: #e47209; }
  .slide-btn:active {
    background-image: none;
    background-color: #4b9200; }
  .slide-btn_prev {
    bottom: 50%;
    transform: translateY(-50%);
    left: -80px; }
  .slide-btn_next {
    bottom: 50%;
    transform: translateY(-50%);
    right: -80px; }

.submit-btn {
  cursor: pointer;
  background-color: #f1f3f2;
  color: #000000;
  font-size: 16px;
  border: 1px solid #333b41;
  border-radius: 5px;
  padding: 10px 40px; }
  .submit-btn:active {
    color: #4b9200;
    border: 1px solid #4b9200; }

.logo {
  width: 82px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ffffff;
  border-radius: 2px;
  margin-right: 63px;
  position: relative; }
  .logo__title {
    text-align: center;
    font-size: 19px !important;
    font-weight: normal !important;
    margin: 0 !important; }
  .logo__image {
    position: absolute;
    bottom: 5px;
    left: 10px; }

.header {
  background-color: #000000;
  color: #ffffff;
  font-weight: 500; }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 0; }
  .header__copyright {
    margin-left: auto; }
  .header__copyright:hover {
    color: #f9804b; }
  .header .bamboo {
    position: absolute;
    bottom: 5px;
    left: 10px; }

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.nav__item:not(:last-child) {
  margin-right: 58px; }

.nav__link:hover {
  color: #f9804b; }

.nav .active {
  color: #f9804b; }

.footer {
  background-color: #111115;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 50px; }
  .footer .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .footer .btn {
    margin-top: 68px;
    margin-bottom: 44px; }
  .footer nav {
    align-self: flex-end;
    font-weight: normal; }
  .footer__right {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer .author {
    align-self: flex-end;
    font-weight: 100; }
  .footer .designer {
    margin-bottom: 10px; }
  .footer h3 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 14px; }
  .footer form {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .footer input[type="email"] {
    width: 228px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #f9804b;
    border-radius: 2px;
    color: #ffffff;
    font-size: 16px;
    outline: none; }
  .footer input[type="email"]:focus {
    border: 1px solid #4b9200; }
  .footer input[type="email"]:focus + button {
    color: #4b9200;
    border: 1px solid #4b9200; }
  .footer input[type="email"]::placeholder {
    color: #bdbdbd; }

.social-item {
  margin-bottom: 10px; }

.social-link {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.social-link:hover p {
  color: #f9804b; }

.social-link:hover .social-box {
  background-color: #f9804b; }

.social-link:active p {
  color: #4b9200 !important; }

.social-link:active .social-box {
  background-color: #4b9200; }

.social-box {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(189, 189, 189, 0.5); }
